{% extends '::base.html.twig' %}

{% block body -%}
    <br>
    <div class="container">
        <div class="grid-16">
                <h1 class="uppercase">Una heermienta interna: <span class="color-primary">KANLLI-COOBIS</span><br>que permita recoger la BBDD más extensa posible de sites y blogs.</h1>
            <p class="claim">
                Esta herramienta para seleccionar de <span class="color-primary">manera ágil</span>
                y según unos criterios SEO el/los site/s más adecuados para llevar a cabo acciones de inbound marketing. Con esta herramienta que se propone <span class="color-primary">automatizaremos los procesos</span>,
                reduciendo las horas destinadas a la búsqueda, selección, revisión y elección de sites para acciones SEO offpage.</p>
            <p class="claim">
                <img class="aligncenter wp-image-6916 size-full" src="http://www.kanlli.com/wp-content/uploads/2014/11/cabecera_home1.png" width="1100" height="310"
                     srcset="http://www.kanlli.com/wp-content/uploads/2014/11/cabecera_home1.png 1100w, http://www.kanlli.com/wp-content/uploads/2014/11/cabecera_home1-300x85.png 300w,
                     http://www.kanlli.com/wp-content/uploads/2014/11/cabecera_home1-1024x289.png 1024w" sizes="(max-width: 1100px) 100vw, 1100px"></p>
        </div>
    </div>
    <div id="introduction" class="container">
        <section class="grid-16">
            <h1 class="section-title">Introduction</h1>
            <h4>Esta interfaz permite, mediante filtros, seleccionar losindicadores pertinentes y que den como resultado una lista de sites/blogs.</h4>
            <p class="claim">   Está conectada con <span class="color-primary">los APIs del moz.com</span> a los sitios que se
                rastrea del araña <span class="color-primary">Google o Alexa</span> con palabras claves del categoría para ejecutar los filtros.</p>
            <div id="intro-img" class="row">
                <div class="col-md-4">
                    <img src="{{ asset('introduction/login.jpg') }}"
                         class="img-responsive">
                    <h2><a href="#" class="button button-3d button-action button-rounded">Login</a></h2>
                    <p>Puede hacer el login a este sistema antes de todo, para obtener acceso, entrar el proceso de seo y puede hacer el logout o logoff.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('introduction/select.jpg') }}"
                         class="img-responsive">
                    <h2><a href="{{ path('data_selectCategory') }}" class="button button-3d button-royal  button-rounded">Categories</a></h2>
                    <p>Esta interfaz ofrece 15 categorías para elegir, elige una categoria y entra la página de la lista de sites/blogs.</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('introduction/seo.png') }}"
                         class="img-responsive">
                    <h2><a href="{{ path('data_selectCategory') }}" class="button button-3d button-primary button-rounded">SEO</a></h2>
                    <p>En la página de la lista de sites/blogs, una página contiene 10 websites. En la izquiera puede cambiar los parámetros de los filtros.</p>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="grid-16">
            <h2 class="section-title">Funcionamientos</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://digitalshiftmedia.com/wp-content/uploads/SEO-Edmonton-Management.png"
                         class="img-responsive">
                    <h2>Manage Data</h2>
                    <span class="button-wrap">
                        <a href="{{ path('data_index') }}" class="button button-pill button-raised button-primary">Go</a>
                    </span>
                </div>
                <div class="col-md-4">
                    <img src="http://www.nliven.in/wp-content/uploads/2013/01/user.png"
                         class="img-responsive">
                    <h2>Manage User</h2>
                    <span class="button-wrap">
                        <a href="{{ path('user_index') }}" class="button button-pill button-raised button-primary">Go</a>
                    </span>
                </div>
                <div class="col-md-4">
                    <img src="http://www.jackcobben.nl/wp-content/uploads/2011/09/documents-icon1.png"
                         class="img-responsive img-rounded">
                    <h2>Manage Category</h2>
                    <span class="button-wrap">
                        <a href="{{ path('category_index') }}" class="button button-pill button-raised button-primary">Go</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="grid-16">
            <h2 class="section-title">Team</h2>
            <div class="row">
                <div class="col-md-2">
                    <img src="http://i.zeze.com/attachment/forum/201505/31/061215g2lx9q24rlib7p2x.jpg"
                         class="img-circle img-responsive">
                </div>
                <div class="col-md-4">
                    <h3 class="text-left">Bei Chu</h3>
                    <p class="text-left">Máster Ingeniería Web de UPM.</p>
                </div>
                <div class="col-md-2">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="img-circle img-responsive">
                </div>
                <div class="col-md-4">
                    <h3 class="text-left">Sijing Xi</h3>
                    <p class="text-left">Máster Ingeniería Web de UPM.<br>Kanlli.</p>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-lg-9">
                <ul class="no-li inline-list">
                    <li class="footer-logo"><img src="{{ asset('kanlli.jpg') }}" width="150px" height="150px"></li>
                    <li class="footer-logo"><img src="{{ asset('upm.jpg') }}" width="150px" height="150px"></li>
                    <li class="footer-logo"><img src="{{ asset('miw.png') }}" width="150px" height="150px"></li>
                    <li class="footer-logo"><img src="{{ asset('coobis.jpg') }}" width="150px" height="150px"></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="h4 S-hidden">Contacto</p>
                <p class="S-grid-2 S-first S-last">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> (+34)91 923 92 29</p>
                <p class="S-grid-2 S-first S-last">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:xisijing@gmail.com">xisijing@gmail.com</a></p>
                <p class="S-grid-2 S-first S-last"> Príncipe de Vergara 109 9º 28002 Madrid </p>
            </div>
        </div>
    </footer>
{% endblock %}