{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Category creation</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('category_index') }}">Category list</a></li>
        <li class="active">Category creation</li>
    </ol>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input value="Create" class="button button-pill" type="submit">
        <a href="{{ path('category_index') }}" class="button button-pill">Back to the list</a>
    {{ form_end(form) }}
</div>
{% endblock %}
