<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kanlli-Coobis{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('kanlli.jpg') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/coobis/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/coobis/css/coobis.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/coobis/css/button.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header class="header">
            <div class="container">
                <a href="{{ path('homepage') }}" class="logo pull-left"><img src="http://www.kanlli.com/wp-content/themes/kanlli/images/html/logo.png" title alt></a>
                <nav class="navbar-menu pull-right clear">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="{{ path('homepage') }}#introduction">Introduction</a></li>
                        <li role="presentation"><a href="{{ path('data_selectCategory') }}">SEO</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Manager <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_index') }}">User management</a></li>
                                <li><a href="{{ path('category_index') }}">Category management</a></li>
                                <li><a href="{{ path('data_index') }}">Data management</a></li>
                            </ul>
                        </li>
                        <li role="presentation" style="display: {{ displayLogin }}"><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
                        <li role="presentation" style="display: {{ displayLogout }}"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                        <li role="presentation"><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ username }}</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/coobis/js/jquery-1.12.4.min.js') }}"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/coobis/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/coobis/js/coobis.js') }}"></script>
        {% endblock %}
    </body>
</html>