<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kanlli-Coobis{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('kanlli.jpg') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/coobis/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/coobis/css/loading.css') }}" />

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/coobis/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/coobis/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>