<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kanlli-Coobis{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('kanlli.jpg') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/coobis/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/coobis/css/coobis.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header class="header">
            <div class="container">
                <a href="/" class="logo pull-left"><img src="http://www.kanlli.com/wp-content/themes/kanlli/images/html/logo.png" title alt></a>
                <nav class="navbar-menu pull-right clear">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="/">Home</a></li>
                        <li role="presentation"><a href="#">Introducción</a></li>
                        <li role="presentation"><a href="/data/selectCategory">SEO</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Admin <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user">Gestionar Usuarios</a></li>
                                <li><a href="/category">Gestionar Categorías</a></li>
                                <li><a href="/data">Gestionar Datos</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/coobis/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/coobis/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>