{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>User edit</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('user_index') }}">User list</a></li>
            <li class="active">User edit</li>
        </ol>
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <br><br>
            <input type="submit" class="button button-rounded" value="Edit" />
            <a href="{{ path('user_index') }}" class="button button-rounded">Back to the list</a>
        {{ form_end(edit_form) }}
        <br>
        <ul>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" class="button button-border button-rounded button-primary" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
