{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Data list</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">Data list</li>
    </ol>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Title</th>
                <th>MozUrl</th>
                <th>ExternalLinks</th>
                <th>Rank</th>
                <th>SubdomainRank</th>
                <th>HttpStatus</th>
                <th>PageAuthority</th>
                <th>DomainAuthority</th>
                <th>Links</th>
                <th>User_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for datum in datas %}
            <tr>
                <td><a href="{{ path('data_show', { 'id': datum.id }) }}">{{ datum.id }}</a></td>
                <td>{{ datum.url }}</td>
                <td>{{ datum.mozTitle }}</td>
                <td>{{ datum.mozUrl }}</td>
                <td>{{ datum.mozExternalLinks }}</td>
                <td>{{ datum.mozRank }}</td>
                <td>{{ datum.mozSubdomainMozRank }}</td>
                <td>{{ datum.mozHttpStatusCode }}</td>
                <td>{{ datum.mozPageAuthority }}</td>
                <td>{{ datum.mozDomainAuthority }}</td>
                <td>{{ datum.mozLinks }}</td>
                <td>{{ datum.user }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('data_show', { 'id': datum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('data_edit', { 'id': datum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('data_new') }}" class="button button-rounded">Create a new entry</a>
        </li>
    </ul>
</div>
{% endblock %}
