{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('bundles/coobis/css/loading.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
    <h1>Category Select</h1>

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Home</a></li>
		<li class="active">Category Select</li>
	</ol>

	<div class="row">
		{% for category in categories %}
			<div class='col-sm-6 col-md-4 col-lg-3'>
				<div class="thumbnail" style="height: 280px">
					<div class="caption" style="height: 150px">
						<a href='{{ path('data_seo_index', { 'categoryId': category.id }) }}' onclick="document.getElementById('loading').style.display = 'block'">
							<img src="{{ category.categoryImgUrl }}" width="300" height="150">
						</a>
					</div>
					<div class="caption" style="height: 55px">
						<p>{{ category.categoryDescription }}</p>
					</div>
					<div class="caption" style="height: 75px">
						<a href="{{ path('data_seo_index', { 'categoryId': category.id }) }}" class="button button-glow button-rounded button-highlight" onclick="document.getElementById('loading').style.display = 'block';scrollTo(0,0)">{{ category.categoryName }}</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="thething">
		<span id="option1" class="option active">Alexa</span>
		<div id="switch">
			<span class="handle"></span>
		</div>
		<span id="option2" class="option">Google</span>
	</div>
	<div id="loading">
		<div id="loader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="lading"></div>
		</div>
	</div>
</div>
{% endblock %}