{% extends 'base.html.twig' %}

{% block body %}
    <h1>SEO index</h1>


	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>Url</th>
			<th>Moztitle</th>
			<th>Mozurl</th>
			<th>Mozexternallinks</th>
			<th>Mozrank</th>
			<th>Mozsubdomainmozrank</th>
			<th>Mozhttpstatuscode</th>
			<th>Mozpageauthority</th>
			<th>Mozdomainauthority</th>
			<th>Mozlinks</th>
			<th>User_id</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		{% for datum in datas %}
			<tr>
				<td><a href="{{ path('data_show', { 'id': datum.id }) }}">{{ datum.id }}</a></td>
				<td>{{ datum.url }}</td>
				<td>{{ datum.mozTitle }}</td>
				<td>{{ datum.mozUrl }}</td>
				<td>{{ datum.mozExternalLinks }}</td>
				<td>{{ datum.mozRank }}</td>
				<td>{{ datum.mozSubdomainMozRank }}</td>
				<td>{{ datum.mozHttpStatusCode }}</td>
				<td>{{ datum.mozPageAuthority }}</td>
				<td>{{ datum.mozDomainAuthority }}</td>
				<td>{{ datum.mozLinks }}</td>
				<td>{{ datum.user }}</td>
				<td>
					<ul>
						<li>
							<a href="{{ path('data_show', { 'id': datum.id }) }}">show</a>
						</li>
						<li>
							<a href="{{ path('data_edit', { 'id': datum.id }) }}">edit</a>
						</li>
					</ul>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path('data_selectCategory') }}">{{ categoryName }}</a>
		</li>
		<li>
			<a href="{{ path('data_selectCategory') }}">Back to select another category</a>
		</li>
	</ul>
{% endblock %}