{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>SEO index</h1>

		<ol class="breadcrumb">
			<li><a href="{{ path('homepage') }}">Home</a></li>
			<li><a href="{{ path('data_selectCategory') }}">Category Select</a></li>
			<li class="active">SEO Index</li>
		</ol>
	</div>

	<div class="container">
		<div class="col-md-3">
			<div class="alert alert-info">
				<h4>Rank</h4>
					<input id="filterNameRankDown" type="text" class="form-control" value="0" style="width:100px;">
					---
					<input id="filterNameRankUp" type="text" class="form-control" value="10" style="width:100px;">
				<br><br>
				<h4>SubdomainMozRank</h4>
					<input id="filterSubdomainRankDown" type="text" class="form-control" value="0" style="width:100px;">
					---
					<input id="filterSubdomainRankUp" type="text" class="form-control" value="10" style="width:100px;">
			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
			<nav>
				<ul class="pagination">
					<li class="disabled">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 1 }) }}'>1</a></li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 2 }) }}'>2</a></li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 3 }) }}'>3</a></li>
					<li class="disabled">
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>

				<div class="row">
					<div class="container" id="zong">
						{% for datum in datas %}
						<ul>
							<li id="url">Url: {{ datum.url }}</li>
							<li id="title">Moztitle: {{ datum.mozTitle }}</li>
							<li id="mozurl">Mozurl: {{ datum.mozUrl }}</li>
							<li id="exlinks">Mozexternallinks: {{ datum.mozExternalLinks }}</li>
							<li id="rank">Mozrank: {{ datum.mozRank }}</li>
							<li id="subrank">Mozsubdomainmozrank: {{ datum.mozSubdomainMozRank }}</li>
							<li id="status">Mozhttpstatuscode: {{ datum.mozHttpStatusCode }}</li>
							<li id="authority">Mozpageauthority: {{ datum.mozPageAuthority }}</li>
							<li id="mainauthority">Mozdomainauthority: {{ datum.mozDomainAuthority }}</li>
							<li id="links">Mozlinks: {{ datum.mozLinks }}</li>
							<hr class="featurette-divider">
						</ul>
						{% endfor %}
					</div>
				</div>

			<nav>
				<ul class="pagination">
					<li class="disabled">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 1 }) }}'>1</a></li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 2 }) }}'>2</a></li>
					<li><a href='{{ path('data_seo_page', { 'categoryId': categoryId, 'page': 3 }) }}'>3</a></li>
					<li class="disabled">
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
			<ul>
				<li>
					<a href="{{ path('data_selectCategory') }}">Back to select another category</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('bundles/coobis/js/seoIndexSearch.js') }}"></script>
{% endblock %}